@tailwind base;
@tailwind components;
@tailwind utilities;


#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


body {
  background-color: #f0f0f0; /* Your desired background color */
}

.slick-slider {
  margin: 0 auto;
}

.slick-slide {
  padding: 0 20px; /* Adjust the padding as needed */
}