@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #fff;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  color: rgb(45, 45, 45);
}

h1 {
  font-size: 3rem;
  font-weight: 600;

}






